* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --primary-color: green;
    --secondary-color: darkgreen;
    --tertiary-color: lightgreen;
    /* and success, black and white but those are already in bootstrap */
}

.sidebar {
    position: absolute;
    z-index: -1;
    border-left: 200px solid var(--primary-color);
    height: 2000px;
}

.logo {
    transition: 0.7s;
}

.logo:hover {
    cursor: pointer;
    filter: opacity(0.5);
}

h1 {
    text-align: center;
    font-size: 100px;
}

button {
    border-radius: 5px;
    border: 0px solid;
    background-color: var(--secondary-color);
    transition: 0.5s;
}

button:hover {
    background-color: var(--tertiary-color);
    color: black;
    cursor: pointer;
}

/* trying to make custom scrollbar (work in progress) */
/* body::-webkit-scrollbar {
    width: 100px;
} */