* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --primary-color: #008000;
    --secondary-color: #006400;
    --tertiary-color: #90ee90;
    /* and success, black and white but those are already in bootstrap */
}

/* ----------
* begin sidebar
---------- */
.sidebar {
    position: absolute;
    z-index: -1;
    border-left: 200px solid var(--primary-color);
    height: 2000px;
}

.logo {
    transition: 0.7s;
}

.logo:hover {
    cursor: pointer;
    filter: opacity(0.5);
}

/* ----------
* end sidebar
---------- */

h1 {
    text-align: center;
    font-size: 100px;
}

/* ----------
* begin cards
---------- */

button {
    border-radius: 5px;
    border: 0px solid;
    background-color: var(--secondary-color);
    transition: 0.5s;
}

button:hover {
    background-color: var(--tertiary-color);
    color: black;
    cursor: pointer;
}

.card-body-size {
    height: 600px;
}

.card-btn {
    position: absolute;
    bottom: 15px;
}

.gitBtn {
    bottom: 60px;
}

.container-bg {
    background-color: var(--secondary-color);
    padding-bottom: 50px;
}

/* ----------
* end cards
---------- */



/* ----------
* begin scrollbar
---------- */
body::-webkit-scrollbar {
    width: 20px;
    background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--tertiary-color);
  }

  /* Buttons */
  ::-webkit-scrollbar-button:single-button {
    background-color: var(--primary-color);
    display: block;
    border-style: solid;
    height: 14px;
    width: 20px;
  }

  /* Up */
  ::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent var(--secondary-color) transparent;
  }

  ::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent var(--tertiary-color) transparent;
  }
  
  /* Down */
  ::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 8px 8px 0 8px;
    border-color: var(--secondary-color) transparent transparent transparent;
  }

  ::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: var(--tertiary-color) transparent transparent transparent;
  }

/* ----------
* end scrollbar
---------- */